<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Profissões</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for i in clients %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.birth_date }}</td>
                    <td>{{ i.occupation }}</td>
                    <td>
                        <a href="#">Editar</a>
                        <a href="#">Remover</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>